html {
    --main-black-color: #000000;
    --main-grey-color: #D7D7D7;
    --accent-color: #FF6B09;
    --border-color: #E2E3E5;
    --backgound-color-main: #F5F6FB;
    --card-background-color: #02172A;
    --footer-background-color: #02172A;
    --footer-text-color: rgba(255, 255, 255, 0.4);
}