@import '../../../sass/main.scss';

.item {
    width: 280px;
    height: 370px;
}

.name {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
font-size: 12px;
line-height: 12px;
}

.list {
}