.burgerBtn {
  display: block;
  border: none;
  position: relative;

  cursor: pointer;
  background-color: transparent;

  &::before {
    content: "";
    position: fixed;
    pointer-events: none;
    display: block;
    height: 74px;
    width: 1px;
    background-color: var(--border-color);
    right: 60px;
    top: 0px;
  }
}

.burger {
  &:hover {
    fill: var(--accent-color);
  }
}
