@import "../../sass/main.scss";

.select {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 125px;
  }

  @include desktop {
    margin-bottom: 133px;
  }
}

.title {
  position: relative;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 34px;
  margin-bottom: 44px;
  width: 280px;

  @include tablet {
    width: 650px;
    font-size: 22px;
    line-height: 1.36;
    text-align: center;
    margin-top: 82px;
    margin-bottom: 44px;
  }

  @include desktop {
    margin-top: 122px;
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    opacity: 0.15;
    height: 1px;
    background-color: var(--hero-text-decoration-color);

    @include tablet {
      width: 322px;
      top: 118px;
    }
  }
}

.name {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;

  @include tablet {
    font-size: 18px;
    line-height: 1.22;
  }
}

.text {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-description-color);
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 1.21;
  }

  @include desktop {
    font-weight: 400;
    margin-bottom: 80px;
  }
}

.choice {
  @include desktop {
    display: flex;
  }
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 212px;
  margin-bottom: 20px;
  padding: 60px 42px 0 42px;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.02em;
  color: white;
  background-color: var(--footer-background-color);

  @include tablet {
    width: 400px;
    height: 212px;
    font-size: 32px;
    line-height: 1.22;
    margin-bottom: 30px;
  }

  @include desktop {
    margin: 0 32px 0 0;
  }

  &:last-child {
    margin: 0;
    padding: 60px 88px 0 88px;
    background-color: var(--accent-color);
  }
}

.icon {
  margin-top: 28px;

  @include tablet {
    margin-top: 12px;
  }

  @include desktop {
    margin-top: 8px;
  }
}