.userWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;

  width: 30px;
  height: 30px;

  background-color: white;
  border-radius: 50%;
  margin-left: 60px;
}

.userWrapperName {
  padding: 20px;
  font-size: 12px;
}
