@import "../../../sass/main.scss";

.navMenuList {
  @include mobile {
    overflow-y: scroll;
    position: fixed;
    background-color: var(--backgound-color-main);
    left: 0;
    top: 90px;
    bottom: 0;
    height: 100vh;
    width: 100%;

    z-index: 9;
  }

  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.navMenu {
  @include tablet {
  }
}

.navMenuItem {
  @include mobile {
    padding: 28px;

    border-bottom: 1px solid var(--border-color);
  }
  @include tablet {
    &:not(:last-child) {
      margin-right: 60px;
      display: flex;
      align-items: center;
    }
  }
}

.link {
  font-size: 14px;
  line-height: 16px / 14;
  color: var(--main-black-color);
  letter-spacing: 0.02em;
  padding: 4px 0;

  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    background-color: var(--accent-color);

    @include tablet {
      transition: transform 0.3s;
    }
  }

  &:hover {
    &:after {
      transform: scaleX(1);
    }
  }

  @include tablet {
    font-size: 12px;
  }
}

.linkActive {
  &:after {
    transform: scaleX(1);
    background-color: var(--accent-color);
  }
}

.navMenuItemIcon {
  @include mobile {
    padding: 28px;

    border-bottom: 1px solid var(--border-color);
  }
  @include tablet {
    padding: 32px;
    border-left: 1px solid var(--border-color);
  }
}
