@import "../../../sass/main.scss";

.navMenuList {
  @include mobile {
    overflow-y: scroll;
    position: fixed;
    background-color: var(--backgound-color-main);
    left: 0;
    top: 71px;
    bottom: 0;
    height: 100vh;
    width: 100%;

    z-index: 9;
  }

  @include tablet {
    display: flex;
    justify-content: space-between;
  }
  @include desktop {
    display: flex;
    align-items: center;
  }
}

.navMenu {
  margin: 0 auto;
}

.navMenuItem {
  display: grid;
  place-items: center;
  @include mobile {
    padding: 28px;
    border-bottom: 1px solid var(--border-color);
  }

  &:not(:last-child) {
    @include tablet {
      margin-right: 40px;
    }
    @include desktop {
      margin-right: 80px;
    }
  }
}

.link {
  font-size: 14px;
  line-height: 1.33;
  color: var(--main-black-color);
  letter-spacing: 0.02em;
  padding: 2px 0;
  position: relative;

  @include tablet {
    font-size: 12px;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    background-color: var(--accent-color);

    @include tablet {
      transition: transform 0.3s;
    }
    @include desktop {
      transition: transform 0.3s;
    }
  }

  &:hover {
    &:after {
      transform: scaleX(1);
    }
  }
}

.linkActive {
  &:after {
    transform: scaleX(1);
    background-color: var(--accent-color);
  }
}

.navMenuItemIcon {
  display: grid;
  place-items: center;
  @include mobile {
    padding: 28px;

    border-bottom: 1px solid var(--border-color);
  }
  @include tablet {
    padding: 32px;
    border-left: 1px solid var(--border-color);
  }
}

.icon {
  fill: var(--text-color);
  &:hover {
    fill: var(--accent-color);
  }
}
