@import '../../sass/main.scss';

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 38px;
    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 40px;    }
}

.title {
    font-weight: 700;
    font-size: 18px;
    margin-top: 42px;
    margin-bottom: 34px;
    text-align: center;
    &::after {
        content: '';
        display: block;
        margin: 0 auto;
        width: 130px;
        height: 1px;
        background-color: rgba(0, 18, 47, 0.15);
        top: 14px;
        transform: translateY(-50%);
        position: relative;
    }
    @include tablet {
        font-size: 22px;
        margin-bottom: 60px;
        &::after {
            width: 322px;
            top: 20px;
        }  
    }
}